.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 5vw;
    padding-top: 60px;
    margin-top: 80px;
}

.footer-logo{
    width: 150px;
    margin-top: -30px;
    margin-bottom: -40px;
    margin-left: -30px;
}

.footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-content-left, .footer-content-center, .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.footer-content-left li, .footer-content-center li, .footer-content-right li{
    list-style: none;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
}

.footer-content-center h2, .footer-content-right h2{
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}

.footer-social-icons{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-social-icons img{
    width: 35px;
    transition: 0.3s;
}

.footer-social-icons img:hover{
    transform: scale(1.1);
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 15px 0;
    background-color: gray;
    border: none;
}

.footer-copyright{
    font-size: 14px;
    text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
    .footer{
        gap: 20px;
        padding: 20px 6vw;
        padding-top: 70px;
        margin-top: 90px;
    }
    
    .footer-logo{
        width: 170px;
        margin-top: -35px;
        margin-bottom: -45px;
        margin-left: -35px;
    }
    
    .footer-content{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 60px;
        text-align: left;
    }
    
    .footer-content-left, .footer-content-center, .footer-content-right{
        align-items: start;
        text-align: left;
    }
    
    .footer-content-left li, .footer-content-center li, .footer-content-right li{
        font-size: 15px;
    }
    
    .footer-content-center h2, .footer-content-right h2{
        font-size: 20px;
    }
    
    .footer-social-icons{
        justify-content: start;
    }
    
    .footer-social-icons img{
        width: 40px;
    }
    
    .footer-copyright{
        font-size: 15px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .footer{
        padding: 20px 8vw;
        padding-top: 80px;
        margin-top: 100px;
    }
    
    .footer-logo{
        width: 190px;
        margin-top: -40px;
        margin-bottom: -50px;
        margin-left: -37px;
    }
    
    .footer-content{
        gap: 80px;
    }
    
    .footer-content-left, .footer-content-center, .footer-content-right{
        gap: 20px;
    }
    
    .footer-content-left li, .footer-content-center li, .footer-content-right li{
        margin-bottom: 10px;
    }
}